-- 將 __RTP_BASIC_POOL_SERVICE_USER__ 換成定時聚合服務的 ClickHouse user 後才可執行。
-- 將 __RTP_BASIC_POOL_CONTROL_USER__ 換成可操作全域 kill switch／每池 override 的控制服務 user。

CREATE ROLE IF NOT EXISTS rtp_basic_pool_aggregator_role
ON CLUSTER sg_cluster;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_raw_event_deduplicated
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_raw_event
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_raw_event_local
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_global_config_latest
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_global_config
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_global_config_local
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_state_latest
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_state
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_state_local
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
INSERT ON icrown.rtp_basic_pool_state
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
INSERT ON icrown.rtp_basic_pool_state_local
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
INSERT ON icrown.rtp_basic_pool_stats
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
INSERT ON icrown.rtp_basic_pool_stats_local
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
INSERT ON icrown.rtp_basic_pool_telemetry
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
INSERT ON icrown.rtp_basic_pool_telemetry_local
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_aggregation_checkpoint_latest
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_aggregation_checkpoint
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_aggregation_checkpoint_local
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
INSERT ON icrown.rtp_basic_pool_aggregation_checkpoint
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
INSERT ON icrown.rtp_basic_pool_aggregation_checkpoint_local
TO rtp_basic_pool_aggregator_role;

GRANT ON CLUSTER sg_cluster
rtp_basic_pool_aggregator_role
TO __RTP_BASIC_POOL_SERVICE_USER__;

CREATE ROLE IF NOT EXISTS rtp_basic_pool_control_role
ON CLUSTER sg_cluster;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_global_config_latest
TO rtp_basic_pool_control_role;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_global_config
TO rtp_basic_pool_control_role;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_global_config_local
TO rtp_basic_pool_control_role;

GRANT ON CLUSTER sg_cluster
INSERT ON icrown.rtp_basic_pool_global_config
TO rtp_basic_pool_control_role;

GRANT ON CLUSTER sg_cluster
INSERT ON icrown.rtp_basic_pool_global_config_local
TO rtp_basic_pool_control_role;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_state_latest
TO rtp_basic_pool_control_role;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_state
TO rtp_basic_pool_control_role;

GRANT ON CLUSTER sg_cluster
SELECT ON icrown.rtp_basic_pool_state_local
TO rtp_basic_pool_control_role;

GRANT ON CLUSTER sg_cluster
INSERT ON icrown.rtp_basic_pool_state
TO rtp_basic_pool_control_role;

GRANT ON CLUSTER sg_cluster
INSERT ON icrown.rtp_basic_pool_state_local
TO rtp_basic_pool_control_role;

GRANT ON CLUSTER sg_cluster
rtp_basic_pool_control_role
TO __RTP_BASIC_POOL_CONTROL_USER__;
